<% include ./partials/header %>

    <div class="ui main text container segment">
        <h2 class="ui center aligned icon header">
            <i class="edit icon"></i>
            Gönderi Düzenle<br />
            <%= blog.title %>
        </h2>


        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label>Başlık</label>
                <input type="text" name="blog[title]" placeholder="Başlık Giriniz" value="<%= blog.title %>" />
            </div>
            <div class="field">
                <label>Resim</label>
                <input type="text" name="blog[image]" placeholder="Resim Linki Giriniz" value="<%= blog.image %>" />
            </div>
            <div class="field">
                <label>İçerik</label>
                <textarea name="blog[body]"><%= blog.body %></textarea>
            </div>
            <button class="ui inverted big violet button">Gönder</button>
        </form>
    </div>

    <% include ./partials/footer %>